:root {
    --main_bg_color: #ffc632;
    --footer-border-style: 0.5px solid black;
}

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    background-color: var(--main_bg_color);
    min-height: 100vh;
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}

/* main */
#main {
    flex: 1;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    border-top: var(--footer-border-style);
    background-color: black;

}

.about {
    flex: 1;
    width: 100%;
    margin: 0 0.5px;
    text-align: center;
    transform: skew(-20deg);
    background-color: var(--main_bg_color);
}

.about:first-child::before,
.about:last-child::after {
    content: '';
    flex: 1;
    top: -1px;
    position: absolute;
    background-color: var(--main_bg_color);
    width: 21%;
    height: 100%;
}

.about:first-child::before {
    left: -20%;
    border-top: var(--footer-border-style);
}

.about:last-child::after {
    right: -20%;
}

/* TODO: I want to return the animation of pushing buttons in the footer diagonally */
.about:first-child:hover::before,
.about:last-child:hover::after,
.about:hover {
    background-color: #FF8000;
}
